.App {
  text-align: center;
}

.template{
  border: 11px dotted black;
  border-radius: 10%;
  position: relative;
}

h6{
  margin: 0%;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  width: min-content;
  background-color: blue;
  color:aliceblue;
  display: inline;
  bottom:12px;
  left:50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box{
  display: inline-block;
  border: 1px red solid;
  margin : 1vh;
}

#popup-dialog{
  border: 2px solid transparent 20%;
  background-color: blue;
  color: white;
  /* width: fit-content; */
  position: fixed;
  top: 10%;
  left: 42%;
  transform: "translate(-50%, -50%)";
  height: auto;
  width: 15%;
  padding: 0% 1% 0.5% 1%;
  margin: 0%;
}

#popup-dialog button{
  position: relative;
  left : 40%
}

#logOut{
  position: absolute;
  top: 1%;
  right: 0.2%;
}

#logInButton{
  position:relative;
  left: 0%;
}

.contact{
  height: auto;
  width: fit-content;
  border: 1px solid green;
  border-radius: 40%;
  display: inline-block;
  padding: 0.6%;
}

.contact h1 {
  margin: 0px;
}

#contactCards ul li{
  display: inline;
  margin: 0.5vw;
}

.label-inside-input #fields div{
  margin-top: 0px;
  margin-bottom: 0px;
}

.label-inside-input input{
  height: 2rem;
  font-size: 1.3rem;
}

.label-inside-input .label{
  display: inline;
}

.counter02{
  border: 3px solid red;
  background-color: aquamarine;
  color: black;
  margin-right: 0.2vw;
  margin-left: 0.2vw;
}

#toDoCard{
  border: 0.1rem solid black;
  border-radius: 5%;
  background-color: aliceblue;
  font-family: cursive;
  width: 15vw;
  height: 8rem;
  margin:0.8vh 0.4vw;
  text-align: center;
}

#toDoCard h4{
  margin: 0vh;
}

#toDoCard p{
  margin: 0.3rem;
  text-align: justify;
}

#toDoCard button{
  background-color: rgba(0, 0, 255, 0.623);
  color: azure;
  border: 1px solid transparent 30%;
}

.rightMost{
  position: relative;
  left: 34%;
}

#todo-list-ul li{
  display: inline-flex;
  height: min-content;
  
}
