.App {
  text-align: center;
}

.template{
  border: 11px dotted black;
  border-radius: 10%;
  position: relative;
}

h6{
  margin: 0%;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  width: min-content;
  background-color: blue;
  color:aliceblue;
  display: inline;
  bottom:12px;
  left:50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box{
  display: inline-block;
  border: 1px red solid;
  margin : 1vh;
}

#popup-dialog{
  border: 2px solid transparent 20%;
  background-color: blue;
  color: white;
  /* width: fit-content; */
  position: fixed;
  top: 10%;
  left: 42%;
  transform: "translate(-50%, -50%)";
  height: auto;
  width: 15%;
  padding: 0% 1% 0.5% 1%;
  margin: 0%;
}

#popup-dialog button{
  position: relative;
  left : 40%
}